*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.myself{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(images/aboutbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    
}
h2:hover{
    color: rgb(255, 0, 0);
}

nav{
    display: flex;
    width: 84%;
    
    margin: auto;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 70px;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 10px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover{
    color: rgb(253, 0, 0);
}

.details{
    margin-left: 8%;
    margin-top: 15%;
}

.details h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span{
    color: #002efc;
    
}
h2{
    color: #805403;
}


.details p{
    color: #555;
    line-height: 22px;
}

.details a{
    background: #fa0000;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    width: 45%;
    height: 70%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape{
    bottom: 40px;
}

.images:hover .girl{
    left: 42%;
}

.social{
    margin-left: 8%;
    margin-top: 100px;
}

.social a{
    font-size: 30px;
    color: #000000;
    margin-right: 20px;
}

.social a:hover{
    color: orange;
}